 body {
    margin: 60px auto;
    width: 60%;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
     /*color: #999; */
   color: #4fa7c1;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
ul li {    
    font-size: 1.5em;    
    line-height: 1.4em;    
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
/* Contact */
.contact ul.list-unstyled li { line-height: 30px; text-indent: -30px; margin-left: 30px;}

/* E-Mail */
span.reverse {
  unicode-bidi: bidi-override;
  direction: rtl;
}

/* Code */
pre.prettyprint { padding: 10px !important; margin: 40px; font-size: 12px;}
