<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>          
              <li><a href="/about">About</a></li>          
              <li><a href="https://www.linkedin.com/in/elizaveta-semenova-a63330a?trk=hp-identity-photo">LinkedIn</a></li>          
              <li><a href="http://lizasemenova.blogspot.ch">Personal blog</a></li>	
    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:elizaveta.p.semenova@gmail.com">email</a></li>	
        		  <li><a href="https://github.com/elizavetasemenova">github.com/elizavetasemenova</a></li>				
          </ul>
			</footer>
		</body>
	</html>
