<!DOCTYPE html>
	<html>
		<head>
			<meta name="google-site-verification" content="SgOcwJymWdxhTiZQOSyOJETc0PWiSzl6xBWPXdJkGMQ" />
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
			<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
		</head>
		<body>
			<!-- <img src="https://elizavetasemenova.github.io/images/integral.png"/> -->
			<!--  <img src="https://elizavetasemenova.github.io/images/bookpic.png"/ width="50%" height="5%"> -->
			<nav>
	    		<ul>
				<li><a href="/">Home</a></li>
	        		<li><a href="/about">About</a></li>
		        	<li><a href="/contact">Contact</a></li>	        	
        		        <li><a href="/blog">statsBlog</a></li>
				<li><a href="/writingblog">writingBlog</a></li>
    		        </ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/elizavetasemenova">github.com/elizavetasemenova</a></li>
				</ul>
			</footer>
			<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
			
		</body>
	</html>
